<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About MedieGenie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        body {
            background-image: url('static/bg1.png'); /* Replace 'background.jpg' with the path to your background image */
            background-size: cover;
            background-position: center;
            color: black;
        }
    </style>
  </head>
  <body>
    <div class="container my-4 mt-4">
        <h3>About Me</h3>
        <p>Welcome to MedieGenie, where health meets technology for a brighter, healthier future.</p>

        <h3>My Vision</h3>
        <p>I envision a world where access to healthcare information is not just a luxury but a fundamental right. My journey began with a simple yet powerful idea: to empower individuals with the knowledge and tools they need to take control of their health.</p>

        <h3>Who I Am</h3>
        <p>Hello! I am Manpreet Singh, a Computer Engineering student at Thapar Institute of Engineering and Technology. My academic journey has equipped me with a solid foundation in computer science, and I have developed a range of technical skills through various projects and coursework. I am proficient in programming languages such as C, C++, and Python, and have experience with front-end and back-end technologies including HTML5, CSS, JavaScript, Node.js, Express, and MongoDB.</p>

        <h3>My Mission</h3>
        <p>At MedieGenie, my mission is to provide you with a seamless and intuitive platform that leverages the power of artificial intelligence and machine learning. I want to assist you in identifying potential health concerns based on your reported symptoms, all while offering a wealth of educational resources to enhance your health literacy.</p>

        <h3>How I Do It</h3>
        <p>My platform utilizes a robust machine learning model trained on a vast dataset of symptoms and diseases. By inputting your symptoms, my system generates accurate predictions about potential illnesses, allowing you to make informed decisions about your health.</p>

        <h3>Your Well-being, My Priority</h3>
        <p>Your health is my top priority. I understand that navigating the complexities of healthcare can be daunting. That's why I've gone the extra mile to provide not only accurate predictions but also comprehensive information about each disease. You'll find descriptions, recommended precautions, medications, dietary advice, and workout tips to support your journey to better health.</p>

        <h3>Join Me on this Journey</h3>
        <p>I invite you to explore MedieGenie, engage with the educational content, and take control of your health journey. Together, we can revolutionize the way individuals access and understand healthcare information.</p>

        <p>Thank you for choosing MedieGenie as your trusted health companion. I am here to empower you with knowledge, support, and a brighter, healthier future.</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>
